# Basic settings
DEBUG=True
SECRET_KEY=
DOMAIN_NAME=127.0.0.1
SECURE_MODE=False
# FF3 encrypter settings (read https://pypi.org/project/ff3/ for details)
FF3_KEY=
FF3_TWEAK=
FF3_LENGTH=6
# Database settings
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432