{% load static %}
<div class="card my-3" style="width: 18rem;">
    <img
            {% if listing.get_cover_photo.file.url %}
                src="{{ listing.get_cover_photo.get_preview }}"
            {% else %}
                src="{% static 'images/defaults/listing_cover.png' %}"
            {% endif%}
            class="card-img-top my-2"
            alt="{{ listing.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ listing.title }}</h5>
    <p class="card-text">{{ listing.description }}</p>
    <a href="{{ listing.get_absolute_url }}" class="btn btn-sm bg-dark bg-opacity-75 text-light d-block stretched-link">View</a>
  </div>
</div>