<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="mt-5">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">
                                <p class="alert-success" style="padding-top: 5px; padding-bottom: 5px;">
                                    {{ message }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>