<nav aria-label="Page navigator">
  <ul class="pagination justify-content-center">
    <!-- prev page -->
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" aria-label="Previous page" href="?page={{ page_obj.previous_page_number }}">
        Prev
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link disabled" aria-label="No previous page" href="#">
        Prev
      </a>
    </li>
    {% endif %}

    <!-- current page -->
    <li class="page-item">
        <a class="page-link" aria-label="Current page" href="#">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </a>
    </li>

    <!-- next page -->
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" aria-label="Next page" href="?page={{ page_obj.next_page_number }}">
                Next
            </a>
        </li>
    {% else %}
        <li class="page-item">
            <a class="page-link disabled" aria-label="No next page" href="#">
                Next
            </a>
        </li>
    {% endif %}
  </ul>
</nav>