{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<main class="container border rounded-4 shadow-sm bg-light text-muted w-50 my-5">
    <div class="row">
        <div class="d-flex flex-column align-items-center text-center">
            {% if profile.photo %}
            <img class="rounded-circle my-5" width="150px" src="{{profile.photo.url}}">
            {% else %}
            <img class="rounded-circle my-5" width="150px" src="{% static 'images/defaults/user_photo.jpg' %}">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="px-3">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="text-end">{{profile.full_name}}'s Profile</h4>
                </div>
                <div class="row">
                    <p>Email: {{ profile.user.email }}</p>
                    <p>Phone: {{ profile.phone}}</p>
                    <p>Bio: {{ profile.bio}}</p>
                </div>
                <div class="my-3 text-center">
                    <a class="btn btn-primary btn-sm" href="{% url 'user_edit_profile' %}">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservations -->
    <div class="d-flex align-items-center mb-3">
        <h5>My reservations</h5>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Room</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
            <tbody>
            {% for reservation in profile.user.reservations.all %}
            <tr class="bg-blue">
                <td class="pt-2">{{ reservation.listing.title }}</td>
                <td class="pt-2">{{ reservation.check_in }} - {{ reservation.check_out}}</td>
                <td class="pt-2">{{ reservation.status.name }}</td>
                <td class="pt-2"><a href="#">Submit</a></td>
                <td class="pt-2"><a href="#">Cancel</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}