{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<main class="container border rounded-4 shadow-sm bg-light text-muted w-50 my-5">
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data" class="mt-3">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}