{% extends "_base.html" %}
{% load static %}
{% block css_files %}
{% endblock %}
{% block title %}News{% endblock title %}
{% block content %}
    <!-- Page header with logo and tagline-->
    <header class="bg-light py-5 mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to Dwelly Blog!</h1>
                <p class="lead mb-0">Please enjoy our news and announcements</p>
            </div>
        </div>
    </header>
    <!-- all posts -->
    <main class="container">
        <div class="row">
            {% for post in posts %}
                {% include "blog/includes/post_preview.html" %}
            {% endfor %}
        </div>
    </main>
    <!-- all posts -->
{% endblock content %}