<!-- templates/account/login.html -->
{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Login" %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="mt-5">
                <p class="h2">Sign In!</p>
                <form method="post" class="mt-3">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-success btn-block" type="submit">Login</button>
                    <p class="small mt-4 text-body-secondary">* By pressing "Login" button I agree with terms and conditions</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
