<!-- templates/account/password_reset_from_key.html -->
{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="mt-5">
                {% if token_fail %}
                    <p class="h2">{% trans "Invalid Token" %}</p>
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}Please request a <a href="{{ passwd_reset_url }}"> new password reset</a>.{% endblocktrans %}
                    </p>
                {% else %}
                    <p class="h2">{% trans "Change Password" %}</p>
                    <form method="post" class="mt-3">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success btn-block" type="submit">Change password</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}