<!-- templates/account/password_reset_done.html -->
{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Password Reset" %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="mt-5">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="h2">{% trans "Reset password" %}</p>
                <p>
                    {% blocktrans %}We have sent you an email.
                    If you have not received it please check your spam folder.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
