<!-- templates/account/password_reset_from_key_done.html -->
{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="mt-5">
                <p class="h2">{% trans "Change Password" %}</p>
                <p>{% trans 'Your password has been changed.' %}</p>
                {% url 'account_login' as login_url %}
                <p>
                    {% blocktrans %}You can use it to <a href="{{ login_url }}"> Log In</a>.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}