asgiref==3.8.1
attrs==25.3.0
crispy-bootstrap5==2025.4
dj-rest-auth==7.0.1
Django==5.2
django-allauth==65.7.0
django-crispy-forms==2.4
django-phonenumber-field==8.1.0
djangorestframework==3.16.0
ff3==1.0.2
flake8==7.2.0
flake8-annotations==3.1.1
mccabe==0.7.0
phonenumbers==9.0.4
pillow==11.2.1
psycopg==3.2.7
psycopg-binary==3.2.7
pycodestyle==2.13.0
pycryptodome==3.22.0
pyflakes==3.3.2
setuptools==80.1.0
sqlparse==0.5.3
wheel==0.38.4
