asgiref==3.8.1
Django==5.1.5
environs==14.1.0
flake8==7.1.1
marshmallow==3.25.1
mccabe==0.7.0
packaging==24.2
pycodestyle==2.12.1
pyflakes==3.2.0
python-dotenv==1.0.1
setuptools==75.8.0
sqlparse==0.5.3
